<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_lists.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Import google fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">

  <!-- javascript files -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/items.js"></script>
  <title>Smart To-Do Lists</title>
</head>
<!-- NAV BAR  -->
<%- include('partials/_navbar') %>
<body>

  <main>
    <p>What do you want to do?</p>
    <form method="POST" action="/items">
      <textarea name="item" id="text" cols="30" rows="1" placeholder="Things to do..."></textarea>
      <button type="submit" id="add">Add</button>
    </form>
    <!-- <div class="container"> -->
      <div class='list-title' id="watch">Stuff to watch</div>
      <div class='item-list' id='watchList'>
        <% for (let task of tasks) {%>
          <% if (task.charAt(task.length -1) === "1") { %>
            <% task = task.slice(0, -1) %>
        <div class='item-row'>
          <!-- <i class="far fa-square"></i>
          <i class="far fa-check-square"></i> -->
          <i class="fas fa-circle"></i>
          <h3><%= task %></h3>
          <i class="far fa-minus-square"></i>
        </div>
        <% } %>
        <% } %>
      </div>


      <div class='list-title' id="eat">Places to eat</div>
      <div class='item-list' id='eatList'>
        <% for (let task of tasks) {%>
          <% if (task.charAt(task.length -1) === "2") { %>
            <% task = task.slice(0, -1) %>
        <div class='item-row'>
          <!-- <i class="far fa-square"></i>
          <i class="far fa-check-square"></i> -->
          <i class="fas fa-circle"></i>
          <h3><%= task %></h3>
          <i class="far fa-minus-square"></i>
        </div>
        <% } %>
        <% } %>
      </div>
      <div class='list-title' id="read">Things to read</div>
      <div class='item-list' id='readList'>
        <% for (let task of tasks) {%>
          <% if (task.charAt(task.length -1) === "3") { %>
            <% task = task.slice(0, -1) %>
        <div class='item-row'>
          <!-- <i class="far fa-square"></i>
          <i class="far fa-check-square"></i> -->
          <i class="fas fa-circle"></i>
          <h3><%= task %></h3>
          <i class="far fa-minus-square"></i>
        </div>
        <% } %>
        <% } %>
      </div>
      <div class='list-title' id="buy">Junk to buy</div>
      <div class='item-list' id='buyList'>
        <% for (let task of tasks) {%>
          <% if (task.charAt(task.length -1) === "4") { %>
            <% task = task.slice(0, -1) %>
        <div class='item-row'>
          <!-- <i class="far fa-square"></i>
          <i class="far fa-check-square"></i> -->
          <i class="fas fa-circle"></i>
          <h3><%= task %></h3>
          <i class="far fa-minus-square"></i>
        </div>
        <% } %>
        <% } %>
      </div>
    <!-- </div> -->
  </main>
</body>
</html>
