<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- CSS STYLE SHEETS  -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Pacifico&family=Roboto&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- NAV BAR  -->
    <%- include('partials/_navbar') %>
  </head>
<body>
  <div class='profile'>
    <form action="/profile/<%= user_id %>" method="POST">
    <span class='picture'>
      <img src='<%= profile_pic %>' alt='profile picture'>
    </span>
    <span class='name'>
      <h1><%= username.toUpperCase(); %></h1>
    </span>
      <input name="username" id="edit-username" value='<%= username %>'></input>
      <span class='email'>
        <h1><%= email.toUpperCase(); %></h1>
      </span>
        <input name="email" id="edit-email" type='email' value='<%= email %>'></input>
        <input name="password" id="edit-password" type='password' value='<%= password %>'></input>
        <button id='update-profile' type="submit">UPDATE PROFILE</button>
    </form>
    <button id='edit-profile'>EDIT PROFILE</button>
    <!-- <div id='error-alert' class='error-alert1'>
      <p class='error'>Tweet can't be blank!</p>
    </div>
    <div id='error-alert' class='error-alert2'>
      <p class='error'>Tweet too long!</p>
    </div> -->
  </div>

<script type="text/javascript" src="/scripts/edit-profile.js"></script>
</body>
</html>
